.follow-us {
  padding-top: 72px;
  margin-left: 70px;

  &__white-txt {
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--main-white);
  }

  &__links {
    display: flex;
    li {
      padding-right: 10px;
    }
  }
}
